/*#images>img {
	max-height: 200px;
}*/

.container {
	text-align: center;
	margin: 0 auto;
}

.nav {
	padding-bottom: 1em;
	/*border-bottom: solid 1px #000000;*/
}

.image {
	width: 250px;
	height:250px;
	/*overflow: hidden;*/
	display: inline-block;
	margin-bottom: -4px;
}

#images {
	background-color: #000000;
}